aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
beautifulsoup4==4.13.4
blis==0.7.11
catalogue==2.0.10
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
cloudpathlib==0.16.0
confection==0.1.5
cymem==2.0.11
frozenlist==1.5.0
idna==3.10
jinja2==3.1.6
langcodes==3.4.1
language-data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.1.0
murmurhash==1.0.13
numpy==1.26.4
packaging==25.0
pillow==10.4.0
preshed==3.0.10
propcache==0.2.0
pydantic==2.10.6
pydantic-core==2.27.2
pygments==2.19.1
python-dotenv==1.0.1
reportlab==4.4.1
requests==2.32.3
rich==14.0.0
smart-open==6.4.0
soupsieve==2.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
thinc==8.2.5
tqdm==4.67.1
typer==0.9.4
typing-extensions==4.13.2
urllib3==2.2.3
wasabi==1.1.3
weasel==0.3.4
yarl==1.15.2
